@charset "UTF-8";

/**
 * Import Color Variables
 * <p>
 * This statement imports the color variables defined in the 'colors.css' file. 
 * These variables are used throughout the stylesheet to ensure consistent color usage 
 * and facilitate easy updates to the color scheme.
 * </p>
 */
@import url('colors.css');

/**
 * Reset Default Margin and Padding for All Elements
 * <p>
 * This rule sets margin and padding to zero for all elements to ensure a consistent layout
 * and remove browser default styling.
 * </p>
 */
* {
	margin: 0;
	padding: 0;
}

/**
 * Basic Layout Styles
 * <p>
 * Sets the height to 100% for the body and html elements and applies the 'Poiret One' font-family
 * to ensure consistent styling across the entire page.
 * </p>
 */
body, html {
	height: 100%;
	margin: 0;
	font-family: 'Poiret One', cursive;
}

/**
 * Background Color for Body
 * <p>
 * Applies a light background color to the body element using the color variable from 'colors.css'.
 * </p>
 */
body {
	background-color: var(--color-light);
}

/**
 * Focus Style for Form Controls
 * <p>
 * Removes the default box-shadow on form controls when they are focused to achieve a cleaner appearance.
 * </p>
 */
.form-control:focus {
	box-shadow: none;
}

/**
 * Button Outline Primary Styles
 * <p>
 * Removes default border and outline from buttons with the 'btn-outline-primary' class. 
 * Ensures border color on hover matches the primary color defined in 'colors.css'.
 * </p>
 */
.btn-outline-primary {
	border: none;
	outline: none;
}

.btn-outline-primary:hover {
	border-color: var(--color-primary) !important;
}

/**
 * Modal Dialog Styles
 * <p>
 * Sets a maximum height for the modal dialog to ensure it fits within the viewport.
 * </p>
 */
.modal-dialog {
	max-height: 90vh; /* Adjust the max-height as needed */
}

/**
 * Custom Scroll for Modal Body
 * <p>
 * Configures the modal body to have a custom maximum height and enables vertical scrolling
 * to handle overflow content. The height adjustment accounts for the header and footer height.
 * </p>
 */
.modal-body.custom-scroll {
	max-height: calc(90vh - 150px);
	/* Adjust 150px based on header and footer height */
	overflow-y: auto;
}

/**
 * Media Query for Small Devices
 * <p>
 * Applies specific styles for devices with a maximum width of 991.98px. Adds a shadow and 
 * adjusts spacing for navbar items and form elements to improve layout and usability on smaller screens.
 * </p>
 */
@media (max-width: 991.98px) {
	.navbar-nav .nav-item {
		box-shadow: 0 2px 4px var(--rgba-dark);
		margin-bottom: 0.5rem;
		padding: 10px 0px;
	}
	form.d-flex {
		border: 1px solid var(--color-primary);
		outline: none;
	}
}